*{margin: 0;
padding: 0;
}

body {
    display: flex;
    justify-content: center;
    min-height: 100vh;
}

.ball {
    height: 100px;
    width: 100px;
    border-radius: 50%;
    background-color: blueviolet;
    animation: rebotar 3s infinite ;
    }

.ball:hover {
    transform: translate(-400px);

}
    
@keyframes rebotar {
0% {
    transform: translatey(0px) scale(1);
    background-color: tomato;
}

100% {
    transform: scale(10);
    background-color: blue;
    }
}