
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    
}

body {
    background-color: black;
    color: white;
     display: flex;
    justify-content: center;
}

.container-box {
    background-color: yellowgreen;
    width: 300px;
    padding: 20px;
    border-radius: 5%;
       
}

img {
    background-color: yellow;
    padding: 10px;
    border-radius: 50%;
    margin: 20px;
}

h2 {
    font-weight: 800;
}

p {
    font-size: 14px;
    color: gray;
    margin: 10px 0;

}

form ul {
    display: flex;
    list-style: none;
    justify-content: space-between;
}

form ul li input {
    background-color: yellow;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: none;
    color: grey;
    cursor: pointer;
    transition: background-color 0.2s;

}

form ul li input:hover {
    background-color: coral;
    color: white;
}

form ul li input:focus {
    background-color: white;
    color: white;

}

button[type="submit"] {
    background-color: green;
    width: 100%;
    margin-top: 10px;
    padding: 8px 0;
    text-transform: uppercase;
    border: none;
    border-radius: 20px;
    font-weight: bold;
    cursor: pointer;
    transition: 0.3s;
    }
button[type="submit"]:hover {
    background-color: black;
    color: red;
}

