*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
justify-content: center;
align-items: center;
background-color: blueviolet;
animation: girar 2s;
}

.loader {
    width: 100px;
    height: 100px;
    background:
}

@keyframes girar {
    0% {}

    50% {}

    100% {
        transform: rotatey(360deg) rotatez(360deg);
    }
}